.main-header {
    box-shadow: 29px 0 31px 0 rgba(135, 135, 135, 0.07);
    border-bottom: 1px solid #C4D6DF;
    .navbar-dropdown.is-right {
        right: 10px;
    }
    .logout {
        width: 20px;
        margin-right: 10px;
        height: 20px;
    }
}