:root {
  --primary-color: #32A69A;
  --primary-color-light: rgba(50, 166, 154, 0.03);
  --secondary-color: #1D364B;
  --secondary-color-light: rgba(18, 34, 47, 0.7);
  --grey-bg: #F8FAFB;
  --grey-dark: #637282;
  --light-border: #E6E8EB;
  --input-border-color: rgba(196, 214, 223, 0.7);

}